#header{
  padding: 20px 0;
  border-bottom: 3px solid gray;
  .container{
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--nav{
            display: flex;
            align-items: center;
            gap: 40px;
            link{
                font-size: 30px;
                color: black;
            }
        }
    }
  }  
}